@tailwind base;
@tailwind components;
@tailwind utilities;

*::selection {
  color: unset;
  background-color: rgba(255, 255, 255, 0.2);
}

.ls {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(160px, 24vw), 1fr));
  column-gap: 10px;
}

.help {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(160px, 24vw), 1fr));
  column-gap: 10px;
}

.ls span,
.help span {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  -o-text-overflow: "...";
  text-overflow: "...";
}

@layer base {
  .terminal-scrollbar::-webkit-scrollbar {
    @apply w-[.75rem];
  }

  .terminal-scrollbar::-webkit-scrollbar-thumb {
    @apply rounded-md border-[3px] border-solid border-transparent bg-fg/[.2] bg-clip-content;
  }
}
